/* DECLARE VARIABLES */
:root {
    /* Dark mode */
    --background-default: #000;
    --background-secondary: #1d1c1c;
    --background-tertiary: #383636;
    --color-default: #fff;
    --gradient-background: linear-gradient(20deg, green 1%, indigo 53%, rgb(24, 21, 219) 99%);
    
    --color-gray: #9b9898;
    --color-blue: #3432a8;
    --color-indigo: #4b0082;
    --color-red: #af0d0d;
    
    --border-default: 1px solid #0f0d0d;
    --border-secondary: 1px solid #252424;

    
    /* full-screen */
    --body-width: 100vw;
    --body-height: 100vh;
    --body-margin: 0px;
    
    --main-height: 100vh;
    --main-border-radius: 0;
    --main-padding: 5px;
    --main-margin: 0;
    
    --font-size-default: 1.5rem;
    
    --sections-height: 100vh; 
    --sidebar-one_div-top-margin-bottom: 155px; 
    --right-container-users-container-height: 300px;
    --right-container-video-img-width: 100%;
    --right-container-video-lists-img-width: 110px; 
    --middle-container-user-replies-buttons-container-a-margin-left: 218px; 
    --middle-container-userpost-buttons-container-a-margin-left: 180px;
    --middle-container-navigation-list-i-padding-left: 16.8rem;
    
    --activity-margin-left: 150px;
}

/* lite mode */
.lite-mode {
    --background-default: #faf9f9;
    --background-secondary: #f1eeee;
    --background-tertiary: #d4cccc;
    --color-default: #241e1e;
    --gradient-background: linear-gradient(20deg, green 1%, indigo 53%, rgb(24, 21, 219) 99%);
    
    --color-gray: #696666;
    --color-blue: #0d09e7;
    --color-indigo: #cc7cd3;
    --color-red: #af0d0d;
    
    --border-default: 1px solid #e4dede;
    --border-secondary: 1px solid #bbb3b3;
}

/* Mini-screen */
.fullscreen-page {
    --body-width: 100vw;
    --body-height: 100vh;
    --body-margin: 0px;
    
    --main-height: 83vh;
    --main-border-radius: 1.1rem;
    --main-padding: 5px;
    --main-margin: 70px 200px 70px 200px;
    
    --font-size-default: 1.1rem;
    
    --sections-height: 82vh;
    --sidebar-one_div-top-margin-bottom: 40px;
    --right-container-users-container-height: 165px;
    --right-container-video-img-width: 100%;
    --right-container-video-lists-img-width: 80px; 
    --middle-container-user-replies-buttons-container-a-margin-left: 55px;
    --middle-container-userpost-buttons-container-a-margin-left: 30px;
    --middle-container-navigation-list-i-padding-left: 110px;
    
    --activity-margin-left: 80px;
}
/* END OF VARIABLES */

/* Reset */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* smartphones and tablet screen | MEN AT WORK */
@media(min-width: 0) and (max-width: 1365px) {
    .main {
        display: none;
    }
    .notice-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }
    .notice {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        background: white;
        height: 250px;
        width: 250px;
        border-radius: 0 120px 0 120px;
        box-shadow: 22px 39px 14px rgba(0, 0, 0, 0.5);
    }
    .notice h3 {
        font-size: var(--font-size-default);
        color: black;
    }
    .notice h3 p {
        font-size: 2rem;
        color: #5c5656;
    }
}
@media(min-width: 1366px) and (max-width: 111365px) {
    .notice-container {
        display: none;
    }
}

/* body */
body {
    width: var(--body-width);
    height: var(--body-height);
    overflow: hidden;
    margin: var(--body-margin);
    background: var(--gradient-background);
}

/* main */
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--background-default);
    height: var(--main-height);
    border-radius: var(--main-border-radius);
    padding: var(--main-padding);
    margin: var(--main-margin);
}

/* Attribution */
.attribution { 
    text-align: center; 
    margin: 30px 30px;
    font-weight: 900;
}
.attribution p { 
    font-size: 20px;
    color: var(--color-default); 
    font-weight: 900;
}
.attribution a { 
    font-size: 20px;
    color: var(--color-blue); 
    font-weight: 900;
}

/* default image and icon size */
img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
i {
    font-size: 30px;
    color: var(--color-gray);
}

/* sections default */
.sidebar-one, .sidebar-two, .middle-container, .right-container {
    height: var(--sections-height);
}

/* section one */
.sidebar-one {
    width: 5%;
    border-right: var(--border-default);
    padding: 0 48px 4px 12px;
}
.sidebar-one i {
    font-size: 20px;
    margin-top: 30px;
    padding-left: 5px;
    color: var(--color-gray);
    cursor: pointer;
}
.sidebar-one i:hover {
    opacity: 0.5;
    cursor: pointer;
}
.sidebar-one .active {
    color: var(--color-indigo);
}
.sidebar-one .logo-active {
    border: 3px solid var(--color-indigo);
}
.sidebar-one .user-active {
    border: 3px solid var(--color-gray);
}
.sidebar-one img:hover {
    opacity: 0.5;
    cursor: pointer;
}
.sidebar-one_div-top {
    margin-bottom: var(--sidebar-one_div-top-margin-bottom);
    margin-top: 12px;
}
.sidebar-one .sidebar-one_div-top img {
    padding: 2px;
    cursor: pointer;
}
.sidebar-one_div-bottom img {
    margin-top: var(--font-size-default);
    padding: 2px;
    cursor: pointer;
}


/* section two */
.sidebar-two {
    width: 15%;
    padding: 20px 20px;
    overflow-y: scroll;
}
.sidebar-two::-webkit-scrollbar {
    display: none;
}
.sidebar-two i {
    font-size: var(--font-size-default);
}
.sidebar-two .sidebar-two_div-container {
    display: flex;
    flex-direction: column;
}
.sidebar-two .sidebar-two_div-container .list {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.sidebar-two .sidebar-two_div-container .list:hover {
    opacity: 0.5;
    cursor: pointer;
}
.sidebar-two .sidebar-two_div-container .list h5 {
    color: var(--color-default);
    padding-left: 20px;
    font-size: var(--font-size-default);
}
.sidebar-two .sidebar-two_div-container .list-sub {
    color: var(--color-gray);
    margin: 0 2px var(--font-size-default) 35px;
}
.sidebar-two .sidebar-two_div-container .list-sub:hover {
    opacity: 0.5;
    cursor: pointer;
}
.sidebar-two .sidebar-two_div-container .list-sub h5 {
    color: var(--color-gray);
    font-size: var(--font-size-default);
}
.sidebar-two .sidebar-two_div-container .categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 2px var(--font-size-default) 0;
}
.sidebar-two .sidebar-two_div-container .categories h5 {
    color: var(--color-gray);
    font-size: var(--font-size-default);
}
.sidebar-two .sidebar-two_div-container .categories i {
    color: var(--color-default);
    font-size: 7px;
}


/* section three */
.middle-container {
    width: 50%;
    background: var(--background-secondary);
    border-radius: 5px;
    overflow-y: scroll;
}
.middle-container::-webkit-scrollbar {
    display: none;
}
.middle-container .navigation {
    padding: 20px;
    border-bottom: var(--border-secondary);
}
.middle-container .navigation-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.middle-container .navigation-list h4 {
    color: var(--color-gray);
    font-size: var(--font-size-default);
    padding-left: 20px;
    cursor: pointer;
}
.middle-container .navigation-list .active {
    color: var(--color-default);
    font-size: var(--font-size-default);
    padding-left: 20px;
}
.middle-container .navigation-list i {
    color: var(--color-gray);
    font-size: var(--font-size-default);
    padding-left: var(--middle-container-navigation-list-i-padding-left);
    cursor: pointer;
}
.middle-container .posts {
    display: flex;
    flex-direction: column;
    border-bottom: var(--border-secondary);
}
.middle-container .posts .userpost {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px var(--font-size-default) 0 20px;
}
.middle-container .posts .userpost-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.middle-container .posts .userpost-info .user-active {
    border: 3px solid var(--color-red);
}
.middle-container .posts .userpost-info h4 {
    font-size: var(--font-size-default);
    margin-left: 20px;
    color: var(--color-default);
}
.middle-container .posts .userpost-info h5 {
    font-size: var(--font-size-default);
    margin-left: 20px;
    color: var(--color-gray);
}
.middle-container .posts .userpost-info span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-default);
    margin-left: 20px;
    border-radius: 80px;
    color: var(--color-default);
    background: var(--background-tertiary);
    padding: 5px;
    margin: 9px;
}
.middle-container .posts .userpost-info span i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--color-default);
    background: var(--background-tertiary);
    margin: 1px;
}
.middle-container .posts .userpost i {
    font-size: var(--font-size-default);
    margin-right: var(--font-size-default);
}
.middle-container .posts .userpost i b {
    font-size: var(--font-size-default);
    padding-left: var(--font-size-default);
}
.middle-container .posts .userpost img {
    width: 30px;
    height: 30px;
    padding: 2px;
}
.middle-container .posts .userpost-desc {
    font-size: var(--font-size-default);
    color: var(--color-default);
    width: 350px;
    margin: 0 0 var(--font-size-default) 96px;
}
.middle-container .posts .userpost-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--font-size-default);
    color: var(--color-default);
    margin: 0 0 var(--font-size-default) 96px;
}
.middle-container .posts .userpost-buttons {
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-default);
    color: var(--color-default);
    margin: 0 0 var(--font-size-default) 0;
}
.middle-container .posts .userpost-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-default);
    padding: 5px;
    height: 25px;
    border-radius: 3px;
    color: var(--color-gray);
    background: var(--background-tertiary);
    text-decoration: none;
    margin-left: 5px;
}
.middle-container .userpost-buttons-container a {
    background: var(--background-tertiary);
    padding: 5px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-default);
    padding-right: 5px;
    text-decoration: none;
    margin-left: var(--middle-container-userpost-buttons-container-a-margin-left);
    color: var(--color-gray);
    border-radius: 3px;
}
.middle-container .userpost-buttons-container i {
    color: var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding-right: 5px;
    text-decoration: none;
}
.middle-container .userpost-buttons-container span {
    background: var(--background-tertiary);
    padding: 5px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-default);
    margin-right: 40px;
    border-radius: 3px;
}
.middle-container .userpost-buttons-container span i {
    color: var(--color-gray);
}
/*replies*/
.middle-container .replies {
    display: flex;
    flex-direction: column;
    border-bottom: var(--border-secondary);
    margin: 0 0 30px 100px;
}
.middle-container .replies .user-replies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px var(--font-size-default) 0 1px;
}
.middle-container .replies .user-replies-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.middle-container .replies .user-replies-info .user-active {
    border: 3px solid var(--color-indigo);
}
.middle-container .replies .user-replies-info h4 {
    font-size: var(--font-size-default);
    margin-left: 20px;
    color: var(--color-default);
}
.middle-container .replies .user-replies-info h5 {
    font-size: var(--font-size-default);
    margin-left: 20px;
    color: var(--color-gray);
}
.middle-container .replies .user-replies-info span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-default);
    margin-left: 20px;
    border-radius: 80px;
    color: var(--color-default);
    background: var(--background-tertiary);
    padding: 5px;
    margin: 9px;
}
.middle-container .replies .user-replies-info span i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    color: var(--color-default);
    background: var(--background-tertiary);
    margin: 1px;
}
.middle-container .replies .user-replies i {
    font-size: var(--font-size-default);
    margin-right: var(--font-size-default);
}
.middle-container .replies .user-replies i b {
    font-size: var(--font-size-default);
    padding-left: var(--font-size-default);
}
.middle-container .replies .user-replies img {
    width: 30px;
    height: 30px;
    padding: 2px;
}
.middle-container .replies .user-replies-desc {
    font-size: var(--font-size-default);
    color: var(--color-default);
    width: 270px;
    margin: 0 0 var(--font-size-default) 50px;
}
.middle-container .replies .user-replies-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--font-size-default);
    color: var(--color-default);
    margin: 0 0 var(--font-size-default) 45px;
}
.middle-container .replies .user-replies-buttons {
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-default);
    color: var(--color-default);
    margin: 0 0 var(--font-size-default) 0;
}
.middle-container .replies .user-replies-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-default);
    padding: 5px;
    height: 25px;
    border-radius: 3px;
    color: var(--color-gray);
    background: var(--background-tertiary);
    text-decoration: none;
    margin-left: 5px;
}
.middle-container .replies .user-replies-buttons .replies-approve {
    background: var(--color-indigo);
    color: var(--color-default);
}
.middle-container .user-replies-buttons-container a {
    background: var(--background-tertiary);
    padding: 5px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-default);
    padding-right: 5px;
    text-decoration: none;
    margin-left: var(--middle-container-user-replies-buttons-container-a-margin-left);
    color: var(--color-gray);
    border-radius: 3px;
}
.middle-container .user-replies-buttons-container i {
    color: var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding-right: 5px;
    text-decoration: none;
}
.middle-container .user-replies-buttons-container span {
    background: var(--background-tertiary);
    padding: 5px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-default);
    margin-right: 40px;
    border-radius: 3px;
}
.middle-container .user-replies-buttons-container span i {
    color: var(--color-gray);
}


/* section four */
.right-container {
    width: 30%;
    background: var(--background-secondary);
    margin-left: 5px;
    border-radius: 5px;
}
.right-container .navigation {
    padding: 17px;
}
.right-container .navigation-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right-container .navigation-list h4 {
    color: var(--color-default);
    font-size: var(--font-size-default);
    padding-left: 20px;
}
.right-container .navigation-list i {
    color: var(--color-gray);
    font-size: 14px;
}
.right-container .video {
    padding: var(--font-size-default);
}
.right-container .video img {
    width: var(--right-container-video-img-width);
    height: 190px;
    border-radius: 5px;
    object-fit: cover;
}
.right-container .video-lists {
    padding: 0 var(--font-size-default) 5px var(--font-size-default);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.right-container .video-lists img {
    width: var(--right-container-video-lists-img-width);
    height: 70px;
    border-radius: 5px;
}
.right-container .activity {
    display: flex;
    align-items: center;
    padding: 20px;
    background: var(--background-tertiary);
    margin: var(--font-size-default);
    border-radius: 5px;
}
.right-container .activity h5 {
    font-size: 2rem;
    color: var(--color-default);
}
.right-container .activity h6 {
    font-size: var(--font-size-default);
    color: var(--color-gray);
}
.right-container .activity i {
    font-size: 20px;
    color: var(--color-default);
    margin-left: var(--activity-margin-left);
    cursor: pointer;
}
.right-container .users-container {
    overflow-y: scroll;
    height: var(--right-container-users-container-height);
}
.right-container .users-container::-webkit-scrollbar {
    display: none;
}
.right-container .users-container .categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: var(--font-size-default) var(--font-size-default) var(--font-size-default) var(--font-size-default);
}
.right-container .users-container .categories h5 {
    color: var(--color-gray);
    font-size: var(--font-size-default);
}
.right-container .users-container .categories i {
    color: var(--color-default);
    font-size: 10px;
}
.right-container .users {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: var(--font-size-default);
    border-radius: 5px;
}
.right-container .users:hover {
    opacity: 0.5;
    cursor: pointer;
}
.right-container .users .description {
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
.right-container .users .description h5 {
    font-size: var(--font-size-default);
    color: var(--color-default);
    margin-left: var(--font-size-default);
}
.right-container .users .description img {
    width: 20px;
    height: 20px;
}
.right-container .users i {
    font-size: 10px;
    color: var(--color-gray);
}